<p>vehicaldata works!</p>


<div class="container">
    <section class="panel">
        <header class="panel-heading">
            vtucommunication
        </header>
    </section>

    <section class="example-section">
        <mat-checkbox class="example-margin">Inventory only</mat-checkbox>
    </section><br><br>




    <div>
        <!-- Heading Title -->
        <h4 class="app-heading">Vtu Serial Id</h4>

        <!-- Search Field -->
        <div>


            <div class="filter-wrap">
                <input class="dropdown-toggle" [(ngModel)]="searchText" placeholder="Search...." class="filter-input" data-toggle="dropdown">
                <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
                <div>
                  <input type="text"  list="codes">
                  <datalist id="codes">
                    <option *ngFor="let c of checkList" [value]="c.id" type="checkbox">{{c.id}} - {{c?.vehicle?.id }}</option>
                  </datalist>


        <!-- Clear Link -->
        <div class="clear-selection" title="Click to Clear Selections" (click)="clearSelection()" *ngIf="selected_count">Clear Selection</div>


        <!-- vehicle List -->
        <ul class="vehicle-list">
            <li *ngFor="let item of checkList | filter : searchText" class="vehicle-item">
                <input (change)="getSelected()" type="checkbox" name="vehicles" value="{{item.id}}" [(ngModel)]="item.selected" />
                <span class="vehicle-text">{{item.id}} - {{ item?.vehicle?.id }}</span>
            </li>
        </ul>
      </div>
    </div>


  </div>

        Selected vehicles
        <div class="selected-vehicles-wrap">
            <div class="selected-vehicle">


                <table style="width:100%" class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>vehicleId</th>
                            <th>vehicleNumber</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of selected_vehicles">
                      <td *ngFor="let item of selected_vehicles">
                        <tr>

                            <td>{{item.id}} </td>
                            <td>{{item.vehicle.vehicleId}}</td>
                            <td>{{item.vehicle.vehicleNumber}}</td>
                            <td><button class="btn active" (click)="deletevehicle(item.id)"> Delete</button>
                            </td>
                        </tr>
                        </td>
                    </tbody>

                </table>


            </div>
        </div>

        <div class="clear-selection" title="Click to Clear Selections"
         (click)="clearSelection()" *ngIf="selected_count">
         <button class="btn btn-primary"type="button">Reset
          <span class="caret"></span></button></div>

    </div>
    </div>
